body {
  padding: 50px;
  font: 2em "Proxima Nova", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#logo_container {
	margin: 0 auto;
	width: 80%;
}

#logo {
	height: auto;
	max-height: 100px;
	display: block;
	margin: 0 auto;
}

#tagline {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center_responsively, .listicle, .user_details {
	margin: 0 auto;
	border-radius: 5px;
	padding: 6px;
	max-width: 900px;
	align: center;
}

.userlink, .timestamp: {
	display: inline;	
}

.timestamp {
	color: #444;
	text-align: center;
	float: center;
	font-size: 0.75em;
}

.listicle {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #F5F5F5;
}

.flex_grid {
	display: flex;
	margin: 0 0 20px 0;
}

@media (max-width: 680px) {
	.flex_grid {
		display: inline;
	}
}

.col {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}

.col > button, input {
	flex: 1;
	width: 100%;
}

.button, .button-primary {
	font-size: 28px;
}

@media (max-width: 680px) {
	.col {
		width: 100%;
		padding: 0 0 0 0;
	}
}

.listicle_content {
	font-size: 48px;
}

.listicle_generator {
	margin-bottom: 40px;
}

.user_details {
	background-color: #F5F5F5;
}

form {
	margin-bottom: 0rem;
}

hr {
	width: 50%
}
