body {
  font: 2em "Proxima Nova", Helvetica, Arial, sans-serif;
}

.userlink, .user_net_votes {
	display: inline;
}

.post_net_votes {
	font-size: 1.2em;
	width: 1em;
	margin-top: 5px;
	margin-bottom: 5px;
}

.voted {
	opacity: 50%;
}

.icon {
	width: 45px;
}

.upvote, .upvoted:hover {
	fill: #333;
}

.upvote:hover, .upvoted {
	fill: #373;
}

.downvote, .downvoted:hover {
	fill: #333;
}

.downvote:hover, .downvoted {
	fill: #733;
}

.listicle_voting {
	width: 2em;
	margin-right: 10px;
	flex: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.listicle_not_voting {
	flex: 1;
}

.post_net_votes {
	text-align: center;
}

a {
  color: #00B7FF;
}

.sign_in_links, .listicle_footer {
	display: flex;
	justify-content: space-between;
}

.timestamp {
	color: #666;
}

/* user details */

.user_details_name {
	font-size: 3em;
}

.user_details_points {
	font-size: 2em;
}

.user_details_name, .user_details_points {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

#change_username_form {
	display: none;
	margin: 20px 0px 0px 0px;
}

.change_username_link {
	font-size: 1.4em;
	margin: 0px;
	padding: 0px;
}

.sign_in_links > a {
}

#navbar {
	margin-bottom: 50px;
	padding: 5px;
	width: 100%;
	background-color: #F5F5F5;
	box-sizing: border-box;
}

#logo_container {
	margin: 0 auto;
	width: 80%;
}

#logo {
	height: auto;
	max-height: 100px;
	display: block;
	margin: 0 auto;
}

#tagline {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.center_responsively, .listicle, .user_details {
	margin: 0 auto;
	border-radius: 5px;
	padding: 6px;
	max-width: 900px;
	align: center;
}

.listicle_inner {
	display: flex;
}

.listicle {
	margin-left: 50px auto;
	margin-left: 50px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #F5F5F5;
	overflow: hidden;
}

.flex_grid {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex: 1;
	padding-left: 10px;
	padding-right: 10px;
}

.action_button {
	flex-basis: auto;
	flex-grow: 1;
	font-size: 1.5em;
	min-width: 8em;
	margin: 0.25em;
}

.change_username {
	font-size: 1em;
	flex: 1;
}

@media (max-width: 12em) {
	.col {
		width: 100%;
		padding: 0 0 0 0;
	}
}

.listicle_content {
	font-size: 48px;
}

.listicle_generator {
	margin-bottom: 40px;
}

.user_details {
	background-color: #F5F5F5;
}

form {
	margin-bottom: 0rem;
}

hr {
	width: 50%
}
