<!DOCTYPE html>
<div id="navbar">
	<div class="sign_in_link">
		<% if (current_user.isRegistered) { %>
			<a href="/users/<%= current_user.id %>"><%= current_user.name || 'User Profile' %></a>
		<% } %>
		<a href="/users/authenticate">sign in with Google</a>
	</div>
</div>
<a href="/"><img id="logo" src="/images/listicles.png"></a>
<h2 id="tagline">All click, no bait!</h2>
<hr />
