<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/barebones.css'>
		<link rel='stylesheet' href='/stylesheets/style.css'>
		<script src="/javascripts/shuffle.js"></script>
	</head>
	<body>
		<div class="grid-container.full">
			<div class="row">
				<img id="logo" src="/images/listicles.png">
			</div>
			<div class="row">
				<h2 id="tagline">All click, no bait!</h2>
			</div>
			<div class="row">
				<hr />
			</div>
			<form method="post" onsubmit="copyContent()" action="/posts/submit">
				<div class="row">
					<h3>Hot off the press:</h3>
					<h2 id="content"><%= content %></h2>
				</div>
				<input type="hidden" id="seed" name="seed" value="<%= seed %>">
				<input type="hidden" id="formContent" name="content">
				<div class="row">
				<button id="shuffle" type="button" onclick="generate()">Shuffle</button>
				<input type="submit" class="button-primary" value="Submit">
			</form>
		</div>
	</body>
</html>
