<!DOCTYPE html>
<div class="listicle">
	<h2 class="listicle_content"><%= post.content %></h2>
	<% if (post.user.address) { %>
	<div class="userlink">
		<a href="/users/<%= post.user._id %>">
			<%= post.user.name ?
				post.user.name
				: `Anonymous Clicker (${post.user._id.toString().substring(20)})` %>
		</a>
	</div>
	<% } %>
	<div class="timestamp">
		<p><%= post.timestamp.toTimeString() %></p>
	</div>
</div>
